<div class='container'>
  <h1>Create a New Album</h1>
  <form action='/albums' method='post'>
    Album Title: <input type='text' name='title'>
    <input type='submit' value='Create Album'>
  </form>

  <% @albums.each do |album| %>
    <p><%= album.title %><a class='album_link' href='/albums/<%= album.id %>'>add photos</a>
  <% end %>
</div>