<div class="container">
  <center><h1>Share your dirty little secrets </h1>
  <img src="http://aka-img-1.h-img.com/media/img/b/hn/2265444/8748804643723413768.400_600r"></center>


<form action="/" enctype="multipart/form-data">
  <input type="file" name="filename"><br>
  <p><br></p>
  <input type="submit" value="Submit to the interwebs!">
</form>
</div>
